<div class="main">
    <div class="component-tilte">
        Register User
    </div>
    <form >
        <div class="content-area">
            <div class="form-item">
                <mat-form-field >
                    <mat-label>Enter your email</mat-label>
                    <input matInput placeholder="myemail697@gmail.com"  required style="width: 100%;">
                </mat-form-field>
            </div>

            <div class="form-item">
                <mat-form-field >
                    <mat-label>Enter your email</mat-label>
                    <input matInput placeholder="myemail697@gmail.com"  required style="width: 100%;">
                </mat-form-field>
            </div>

            <div class="form-item">
                <mat-form-field >
                    <mat-label>Enter your email</mat-label>
                    <input matInput placeholder="myemail697@gmail.com"  required style="width: 100%;">
                </mat-form-field>
            </div>

            <div class="form-item">
                <mat-form-field >
                    <mat-label>Enter your email</mat-label>
                    <input matInput placeholder="myemail697@gmail.com"  required style="width: 100%;">
                </mat-form-field>
            </div>
        </div>
    </form>
</div>
