<div class="main">

    <h2 mat-dialog-title>Account</h2>
    <mat-dialog-content class="mat-typography">
        <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
            <mat-card class="box">
                <mat-card-header>
                    <mat-card-title>Log in</mat-card-title>
                </mat-card-header>
                <form class="example-form"  [formGroup]="profileForm">
                    <mat-card-content>
                        <div style="width: 100%;">
                            <mat-form-field appearance="fill">
                                <mat-label>Enter your email</mat-label>
                                <input matInput placeholder="myemail697@gmail.com" type="email" formControlName="email" required style="width: 100%;">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label>Enter your password</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                              </mat-form-field>
                        </div>
                        <div>
                            <button  routerLink="/register" mat-button mat-dialog-close>Create Account</button>
                            
                        </div>
                    </mat-card-content>
                </form>
            </mat-card>
        </div>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-stroked-button color="accent" class="btn-block" (click)="signIn()" [disabled]="!profileForm.valid">Log in</button>        
    </mat-dialog-actions>

</div>