<div class="main">
    <div class="logo-info">
        Logo
    </div>

    <div class="action-buttons">
        <button class="button-item" mat-raised-button style="background-color: green; color: white;"
            routerLink="/">Home</button>
        <button class="button-item" mat-raised-button style="background-color: green; color: white;"
            routerLink="/about">About</button>
        <button class="button-item" mat-raised-button style="background-color: green; color: white;"
            routerLink="/contact">Contact</button>

    </div>
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>